
#home-page footer {
	background-color: #abd31c;
	display: block;
}


#home-page footer li {
  display: inline;
	float: left;
  width: 80px;
}

#home-page footer li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
